<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">捐政</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="starter-template">
    <div class="wrapper">
      <form action="/" method="post" name="Login_Form" class="form-signin">       
          <h3 class="form-signin-heading">Welcome Back to 捐政 !</h3>
          <hr class="colorgraph"><br>
          
          <input id='account_field' type="text" class="form-control" name="Username" placeholder="Username" required autofocus="" />
          <input type="password" class="form-control" name="Password" placeholder="Password" required />          
         
          <button id='login_btn' class="btn btn-lg btn-primary btn-block">Login</button>
          
          <a href="/register" class="btn btn-lg btn-success btn-block" role="button">Register</a> 
          <br/>
          <div >
            <h4 id='blockchain-status' class="form-signin-heading"></h4>
          </div>
          
      </form>     
    </div>
  </div>     
</div>

<script>

$( document ).ready(function() {
  $.getJSON( "http://ec2-54-245-145-0.us-west-2.compute.amazonaws.com:3000/v1/health", function( data ) {
      //console.log(data.status); 
      if(data.status === 'OK')
         var status = ' <span class="label label-success">Success</span>';
      else
         var status = ' <span class="label label-danger">Danger</span>';

      $('#blockchain-status').html('Blockchain Status: ' + status);
  }); 

  $( "#login_btn" ).click(function() {
    //alert('login');
  });



});
</script>


    
